.coordinates {
  &__container {
    padding-left: 10%;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    gap:1rem;
  }

 
  &__details {
    width: 100%;
    background-color: #f4f4f4;
    &__container {
      padding: 7rem 0 0 5rem;
    }
    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 46px;
      text-align: left;
      color: #000000;
    }

    &__span {
      color: #ff0000;
    }

    &__subtitle {
      padding-top: 1.7rem;
      font-size: 24px;
      line-height: 31px;
      text-align: left;
      color: #000000;
      font-weight: 900;
    }

    &__para {
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      text-align: left;
      color: #000000;
    }
  }

  &__card{
    position: relative;
&__card__image{
    display: block;
    width: 100%;
}
  }
}
