.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  z-index: 999;
  &__container {
    padding: 2vh 4vh;
    height: 100%;
    position: relative;
    &__logo {
      position: absolute;
      left: 50%;
      width: 152px;
      margin-left: -75px;
      img {
        width: 100%;
        display: block;
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__link {
      list-style: none;
      padding: 0 1vh;
      cursor: pointer;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      background-color: transparent;
    }

    &__buttom {
      text-decoration: none;
      width: 100px;
      border-radius: 5px;
      background-color: #000000;
      color: #e0e0e0;
      font-size: 12px;
      padding: 8px 14px;
      width: 100%;
      cursor: pointer;
    }

    li:last-child {
      padding-right: 0;
    }
  }
}
.window-scroll {
  background-color: white;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

@media screen and (max-width: 1036px) {
  .navbar {
    &__link {
      display: flex;
      justify-content: flex-start;
    }
    &__menu {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 100px);
      position: absolute;
      top: 0;
      right: -3000px;
      height: 100vh;
      width: 100%;
      background-color: black;
      padding-top: 139px;
      transition: 0.3s;
      & li {
        & a {
          color: #e0e0e0;
          font-size: 32px;
          padding-left: 1.5rem;
        }
        & a:hover,
        button:hover {
          color: red;
          font-size: 32px;
        }
        & button {
          background-size: 0px;
          color: white;
          font-size: 32px;
          padding-left: 0;
          width: 50%;
          cursor: pointer;
        }
      }
      &.active {
        right: 0px;
      }
    }
  }

  #mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & i {
      color: black;
      font-size: 24px;
      top: 0;
      font-size: 40px;
      transform: rotate(90deg);
    }
  }

  #bar {
    display: flex;
    align-items: center;
    top: 0;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 24px;
    display: initial;
    font-size: 40px;
  }
}
