.hero {
    &__container {
        position: relative;
        width: 100%;
        max-width: 1200px;
        &__title {
            font-size: 100px;
            width: 100%;
            padding-top: 5rem;
            background: white;
        }
    }
    &__circle {
        content: "";
        width: 50vh;
        position: absolute;
        top: 11%;
        right: 8%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        &.is--back{
            mix-blend-mode: difference;
            background: white;
        }
        &.is--front{
            mix-blend-mode: lighten;
            background: red;
        }
    }
}
