.job {
  &__container {
    &__title {
      font-weight: 700;
      font-size: 64px;
      width: 100%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  & &__item {
    background: #c50018;
    width: 100%;
    padding-bottom: 80%;
    position: relative;
    &:hover {
      background-image: url("../images/Icon1.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
    &__index {
      position: absolute;
      transform: rotate(-90deg);
      right: -1.5rem;
      top: 0.5rem;
    }

    &__title {
      display: flex;
      font-weight: 500;
      font-size: 24px;
      width: 100%;
      color: #ffffff;
      padding-top: 30%;
      padding-left: 10%;
    }
  }
  & &__item:nth-child(2) {
    background: #7a00c5;
    &:hover {
      background-image: url("../images/Icon2.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  & &__item:nth-child(3) {
    background: #2539ea;
    &:hover {
      background-image: url("../images/Icon3.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  & &__item:nth-child(4) {
    background: #00a688;
    &:hover {
      background-image: url("../images/Icon4.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
