.skills {
  position: relative;
  &__container {
    &__title {
      font-weight: 700;
      font-size: 64px;
      width: 100%;
    }
  }


  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;

  }
 & &__item{
  display: flex;
  align-items: center;
  justify-content: center;
    width: 100%;
    padding-bottom: 80%;
    position: relative;
    background-image: url("../images/javascriptlogo.jpg");
    background-position: center;
    background-repeat: no-repeat;

    &__title{
      font-weight: 700;
      font-size: 16px;
      color: black;
      position: absolute;
      bottom: 0;
    }
  }
    & &__item:nth-child(2){
     
        background-image: url("../images/php_logo.jpg");
      
    
  }

  & &__item:nth-child(3){
     background-image: url("../images/jee-logo.jpg");
}

& &__item:nth-child(4){
  background-image: url("../images/pwa.jpg");
 
}

& &__item:nth-child(5){
  background-image: url("../images/reactive.jpg");

}

& &__item:nth-child(6){
  background-image: url("../images/vector.jpg");

}

}
