.works {
  &__achivements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2%;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    &-left {
      width: 100%;
      padding: 1rem 0;
    }

    &-right {
      img {
        display: block;
      }
    }
    .line {
      background-color: black;
      width: 1px;
      display: block;
      margin: 0 auto;
      height: 100%;
    }
  }
  h3 {
    padding-top: 15px;
  }

  .image2 {
    position: relative;
  }
  .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-image: url("../images/hover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .image2:hover .hover {
    opacity: 1;
  }
}
