.about {
  &__container {
    padding: 97px 30px 0 46px;
    &__title {
      font-weight: 700;
      font-size: 64px;
      width: 100%;
    }
    &__paragraphe {
      width: 760px;
      font-weight: 400;
      font-size: 16px;
      padding-top: 26px;
    }
    &__image {
      padding-top: 101px;
      width: 100%;
      height: 467px;
      opacity: 0.9;
    }
    &__num {
      display: flex;
      justify-content: end;
padding-top: 10px;
      .line {
        width: 156px;
        height: 2px;
        background: #000;
        margin: auto 0;
      }

     .para {
        padding-left: 16px;
      }
    }
  }
}
