.job {
  position: relative;
width: 100%;
  &__container {
    &__title {
      font-weight: 700;
      font-size: 64px;
      width: 100%;
    }
  }
  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &__card {
      display: flex;
      position: relative;
      .job1 {
        background: #c50018;
        
      }
      .job1:hover {
        background-image: url("../images/Icon\ 1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        
      }
      .job2 {
        background: #7a00c5;
      }

      .job2:hover {
        background-image: url("../images/Icon2.jpg");
        background-position: center;
        background-repeat: no-repeat;
      }
      .job3 {
        background: #2539ea;
      }

      .job3:hover {
        background-image: url("../images/Icon3.jpg");
        background-position: center;
        background-repeat: no-repeat;
      }
      .job4 {
        background: #00a688;
      }
      .job4:hover:hover {
        background-image: url("../images/Icon4.jpg");
        background-position: center;
        background-repeat: no-repeat;
      }
      .line {
        position: absolute;
        top: 32.5px;
        width: 65px;
        height: 1px;
        background-color: #ffffff;
        transform: rotate(90deg);
      }
      h3 {
        font-weight: 500;
        font-size: 24px;
        color: #ffffff;
        padding-top: 106px;
        padding-left: 42px;
      }
      .icone {
        width: 150px;
        padding: 36px 84px;
      }
      .number {
        right: 0;
        height: 100%;
        &__par {
          transform: rotate(-90deg);
          padding: 1rem 0;
        }
      }
    }
  }
}
