.works {
  &__achivements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-width: 100%;
    border-left: 0;
    border-right: 0;
    &-left {
      width: 100%;
      padding: 1rem 0;
    }

    &-right {
      padding: 1rem 0;
      width: 100%;
      img {
        display: block;
        margin-left: auto;
      }
    }

    .line {
      background-color: black;
      width: 1px;
      display: block;
      margin: 0 auto;
      height: 100%;
    }
  }

  &__descrp2 {
    width: 668px;
    display: block;
    margin-left: auto;
  }
  h3 {
    padding-top: 15px;
  }


  .image1{
    position: relative;
  }
    .hover{
      position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url("../images/hover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
    }
    .image1:hover .hover {
opacity: 1;
  }
 

}
