/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding: 64px 4vh 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 64px;
  width: 100%;
  padding-bottom: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.navbar__container {
  padding: 1.5vh 4vh;
}
.navbar__container__logo {
  position: absolute;
  left: 50%;
  width: 152px;
  margin-left: -75px;
}
.navbar__container__logo img {
  width: 100%;
  display: block;
}
.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__menu li {
  list-style: none;
  padding: 0 1vh;
  cursor: pointer;
}
.navbar__menu li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}
.navbar__menu li button {
  width: 100px;
  border-radius: 5px;
  background-color: #000000;
  color: #e0e0e0;
  font-size: 12px;
  padding: 8px 14px;
  width: 100%;
  cursor: pointer;
}
.navbar__menu li:last-child {
  padding-right: 0;
}

.window-scroll {
  background-color: white;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

@media screen and (max-width: 1036px) {
  .navbar__link {
    display: flex;
    justify-content: flex-start;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    top: 0;
    right: -1000px;
    height: 100vh;
    width: 100%;
    background-color: black;
    padding-top: 139px;
    transition: 0.3s;
  }
  .navbar__menu li a {
    color: #e0e0e0;
    font-size: 32px;
    padding-left: 1.5rem;
  }
  .navbar__menu li a:hover, .navbar__menu li button:hover {
    color: red;
    font-size: 32px;
  }
  .navbar__menu li button {
    background-size: 0px;
    color: white;
    font-size: 32px;
    padding-left: 0;
    width: 50%;
    cursor: pointer;
  }
  .navbar__menu.active {
    right: 0px;
  }
  #mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #mobile i {
    color: black;
    font-size: 24px;
    top: 0;
    font-size: 40px;
    transform: rotate(90deg);
  }
  #bar {
    display: flex;
    align-items: center;
    top: 0;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 24px;
    display: initial;
    font-size: 40px;
  }
}
.hero {
  position: relative;
  height: 100%;
}
.hero__container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}
.hero__container__title {
  font-size: 100px;
  width: 100%;
  padding-top: 5rem;
}
.hero__circle {
  content: "";
  width: 60vh;
  position: absolute;
  background: red;
  top: 10%;
  right: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  mix-blend-mode: darken;
}

.about {
  position: relative;
  padding-top: 1rem;
}
.about__container__paragraphe {
  width: 760px;
  font-weight: 400;
  font-size: 16px;
  padding-top: 26px;
}
.about__container__image {
  padding-top: 101px;
  width: 100%;
  height: 467px;
  opacity: 0.9;
}
.about__container__num {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.about__container__num .line {
  width: 156px;
  height: 2px;
  background: #000;
  margin: auto 0;
}
.about__container__num .para {
  padding-left: 16px;
}

.job {
  position: relative;
  width: 100%;
}
.job__container__title {
  font-weight: 700;
  font-size: 64px;
  width: 100%;
}
.job__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.job__block__card {
  display: flex;
  position: relative;
}
.job__block__card .job1 {
  background: #c50018;
}
.job__block__card .job1:hover {
  background-image: url("../images/Icon 1.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.job__block__card .job2 {
  background: #7a00c5;
}
.job__block__card .job2:hover {
  background-image: url("../images/Icon2.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.job__block__card .job3 {
  background: #2539ea;
}
.job__block__card .job3:hover {
  background-image: url("../images/Icon3.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.job__block__card .job4 {
  background: #00a688;
}
.job__block__card .job4:hover:hover {
  background-image: url("../images/Icon4.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.job__block__card .line {
  position: absolute;
  top: 32.5px;
  width: 65px;
  height: 1px;
  background-color: #ffffff;
  transform: rotate(90deg);
}
.job__block__card h3 {
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding-top: 106px;
  padding-left: 42px;
}
.job__block__card .icone {
  width: 150px;
  padding: 36px 84px;
}
.job__block__card .number {
  right: 0;
  height: 100%;
}
.job__block__card .number__par {
  transform: rotate(-90deg);
  padding: 1rem 0;
}

.skills {
  position: relative;
}
.skills__container__title {
  font-weight: 700;
  font-size: 64px;
  width: 100%;
}
.skills__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 150px;
  gap: 5rem;
}
.skills__block__card {
  display: flex;
  justify-content: center;
  position: relative;
}
.skills__block__card h3 {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__block__card:nth-child(1) {
  background-image: url("../images/JavaScript_logo_1.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.skills__block__card:nth-child(2) {
  background-image: url("../images/php_logo.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.skills__block__card:nth-child(3) {
  background-image: url("../images/jee-logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.skills__block__card:nth-child(4) {
  background-image: url("../images/a.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.skills__block__card:nth-child(5) {
  background-image: url("../images/reactive.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.skills__block__card:nth-child(6) {
  background-image: url("../images/Vector.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.works__achivements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-width: 100%;
  border-left: 0;
  border-right: 0;
}
.works__achivements-left {
  width: 100%;
  padding: 1rem 0;
}
.works__achivements-right {
  padding: 1rem 0;
  width: 100%;
}
.works__achivements-right img {
  display: block;
  margin-left: auto;
}
.works__achivements .line {
  background-color: black;
  width: 1px;
  display: block;
  margin: 0 auto;
  height: 100%;
}
.works__descrp2 {
  width: 668px;
  display: block;
  margin-left: auto;
}
.works h3 {
  padding-top: 15px;
}
.works .image1 {
  position: relative;
}
.works .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url("../images/hover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.works .image1:hover .hover {
  opacity: 1;
}

.partners {
  padding-bottom: 1rem;
  position: relative;
}
.partners h2 {
  display: flex;
  justify-content: center;
}
.partners__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
  padding-top: 3rem;
  width: 100%;
}
.partners__image img {
  display: block;
  margin: 0 auto;
}
.partners__image:nth-child(4) img {
  margin: 0;
  margin-left: auto;
}
.partners__image:nth-child(8) img {
  margin: 0;
  margin-left: auto;
}
.partners__image:nth-child(1) img {
  margin: 0;
  margin-right: auto;
}
.partners__image:nth-child(5) img {
  margin: 0;
  margin-right: auto;
}
.partners__seventyone {
  width: 100%;
  padding: 3rem 0 1rem;
  position: relative;
}
.partners__seventyone img {
  display: block;
  width: 100%;
}
.partners .overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-image: url("../images/71hover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.partners__seventyone:hover .overlay {
  opacity: 1;
}
.partners .line {
  width: 100%;
  height: 2px;
  background: #000;
}/*# sourceMappingURL=style.css.map */